<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Markus Graf">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title>Progressive-Encoded JPEG Loader</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron" >
                <h1 class="text-center">Welcome to the Progressive-Encoded Image Loader!</h1>

                <p class="text-center">
                    <a class="btn btn-primary" href="/showAllImages"></i>Show all progressive<br>encoded JPEG's</a>
                </p>

                <h4>How does it work?</h4>
                <p></p>
            </div>
        </div>
    </body>
</html>